<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Your report is ready.</h3>
    <p>
      <%= @message %><br>
    </p>
    <p style="font-size: .6rem;">
      This email was sent to <%= @user %>.
    </p>
  </body>
</html>