#form-delete-btn {
    cursor: pointer;
    background-color: #313b47;
    color: #d33428;
    border-radius: .2rem;
    overflow: hidden;
    position: absolute;
    top: .8rem;
    right: 4rem;
    padding: .4rem;
    padding-left: .6rem;
    font-size: 1.4rem;
    border: none;
}

#form-delete-btn:hover {
    color: #ee4949;
}

.form-entry {
    padding: 1rem;
    label { font-size: 1rem; color: #bbbbbb; }
    input { background-color: #343c47; border: none; color: #fff; width: 100%;
            border-radius: .2rem; padding: .45rem;
            .form-btn { background-color: #bbbbbb; } }
    textarea { background-color: #343c47; border: none; color: #fff; width: 100%;
               border-radius: .2rem; padding: .3rem; }
    select { background-color: #343c47; border: none; color: #fff; width: 100%; 
             border-radius: .2rem; padding: .3rem; }
    select:focus { outline:none; background-color: #374453; }
    input:focus { outline:none; background-color: #374453; }
    textarea:focus { outline:none; background-color: #374453; }
    select:hover { background-color: #374453; }
    input:hover { background-color: #374453; }
    textarea:hover { background-color: #374453; }
}

.form-box {
    max-width: 20rem;
    color: #fff;
    h1 { font-size: 2rem; padding-left: 1rem; }
    h2 { font-size: 1.5rem; }
    p { font-size: 1rem; color: #bbbbbb; }
    padding: 2rem;
    padding-bottom: 0;
}

.form-btn {
    cursor: pointer !important;
    margin: auto;
    text-align: center;
    width: 50%;
}

.time-selector {
    padding-left: 1rem;
    display: inline-block;
    label { font-size: 1rem; color: #bbbbbb; }
    select { background-color: #343c47; border: none; color: #fff;
             border-radius: .2rem; padding: .3rem; }
    select:focus { outline:none; }
}