#error-box {
    padding-right: 2rem;
    padding-left: 2rem;
    padding-top: 1rem;
}

#error-explanation {
    padding: 1rem;
    border-radius: .8rem;
    background-color: #f78b8b;
}

.green {
    color: rgb(85, 228, 104) !important;
}

.red {
    color: rgb(240, 98, 54) !important;
}