.toggle {
    cursor: pointer;
    position: relative;
    border: .1rem solid #424a4e;
    border-radius: 1rem;
    background-color: rgb(240, 98, 54);
    height: 1.4rem;
    width: 3rem;
    transition: right 5s;
}

.toggle-container {
    padding-left: 1rem;
    padding-top: 1rem;
}

.toggle-circle {
    position: absolute;
    border-radius: 100%;
    background-color: #424a4e;
    height: 1.4rem;
    width: 1.5rem;
    left: -5%;
}