<div class="footer">
    <div class="f-grid" id="running-tasks">
        <div class="f-grid-element-r"><h1>Running:</h1></div>
        <div class="f-grid-element"><a href="#">Test1</a></div>
        <div class="f-grid-element"><a href="#">Test2</a></div>
        <div class="f-grid-element"><a href="#">Test3</a></div>
    </div>
    <div class="f-grid" id="stopped-tasks">
        <div class="f-grid-element-e"><h1>Exited:</h1></div>
        <div class="f-grid-element"><a href="#">Test1</a></div>
        <div class="f-grid-element"><a href="#">Test2</a></div>
        <div class="f-grid-element"><a href="#">Test3</a></div>
    </div>
</div>